*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main {
    height: 100vh;
    background: #F5F5F7;
    overflow-y: scroll;
}
nav {
    background-color: rgba(29, 29, 31, .8);
    height: 44px;
    position: fixed;
    width: 100%;
    top: 0;
}
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.nav-links > ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.nav-links > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}
.nav-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
.icons {
    color: white;
    font-size: 1rem;
    cursor: pointer;
}
.menu-btn {
    display: none;
}
.large-cards{
    background-color: black;
    background-position: bottom;
    height: 95%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    background-size: cover;
}
.title-img {
    background-image: url(./images/title\ image.jpg);
    justify-content: flex-end;
}
.iphone-17-pro {
    background-image: url(./images/iphone_17_pro.jpg);
    justify-content: flex-start;
}
.iphone-17 {
    background-color: white;
    background-image: url('./images/iphone_17.jpg');
    justify-content: flex-start;
    color: black;
}
.title-img > p{
    min-width: 300px;
   width: 35%;
   max-width: 400px;
} 
.large-card-headings {
    font-size: 2em;
    font-weight: bolder;
}
.blue-btn {
    background-color: rgb(0, 113, 227);
    color: white;
    border: none;
    padding: 1em;
    border-radius: 20px;
}
.white-btn {
    background-color: transparent;
    color: rgb(0, 113, 227);
    border: 1px solid rgb(0, 113, 227);
    padding: 1em;
    border-radius: 20px;
}
.broder-top {
    border-top: 10px solid white;
}
.cards-cont {
    height: 600px;
    display: flex;
}
.cards-cont > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    width: 50%;
    padding: 10px;
    border: 10px solid white;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
.card-1 > .left-card {
    background-image: url('./images/apple-for-collage.jpg');
}
.card-1 > .right-card {
    background-image: url('./images/macbook-air.jpg');
}
.endless-entertainment {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    background-color: #F5F5F7;
}
.img-cont {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.top {
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.top > .img1 {
    height: 100%;
    width: 20%;
    border: 10px solid #F5F5F7;
    background-image: url("./images/basebal.jpg");
    background-position: right;
    border-left: none;
}.top > .img2{
    height: 100%;
    border: 10px solid #F5F5F7;
    background-image: url("./images/mls.jpg");
    width: 60%;
}.top > .img3 {
    height: 100%;
    border: 10px solid #F5F5F7;
    background-image: url("./images/f1.jpg");
    border-right: none;
    width: 20%;
}
.bottom {
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.bottom > .img1, .img2, .img3{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 30.4%;
    /* border: 10px solid white; */
}
.bottom > .img1 {
    background-image: url("./images/bob.jpg");
}
.bottom > .img2 {
    background-image: url("./images/fitness.jpg");
}
.bottom > .img3 {
    background-image: url("./images/powerwash.jpg");
}
.apple-terms{
    margin:auto;
    padding: 24px 5em;
    color: #656565;
    line-height:1.7;
    background: #F5F5F7;
    margin-top: 20px;
}

.apple-terms > ol{
    padding-left:22px;
}

.apple-terms > ol > li{
    margin-bottom:20px;
}

.apple-terms> ol > li > p{
    margin-bottom:16px;
    font-size:14px;
}

.apple-terms ol > li > p > strong{
    font-weight:600;
}
footer {
    border-top: 1px solid rgba(0, 0, 0, 0.16);
    height: 80%;
}
.footer-content {
    height: 100%;
    display: flex;
    gap: 50px;
    background-color: #F5F5F7;
    padding: 50px;
    padding-top: 20px;
    justify-content: center;
}
.footer-content > div > h4 {
    margin-top: 10px;
    font-size: 13px;
    /* width: 50px; */
}
.footer-content > div > ul {
    list-style: none;
    padding-left: 10px;
}
.footer-content > div > ul > li {
    color: #656565;
    font-size: 13px;
    margin-top: 10px;
    min-width: 100px;
}

@media screen and (max-width: 768px) {
    .nav-links > ul{
        display: none;
    }
    .menu-btn {
        display: block;
    }
    .large-cards {
        gap: 20px;
        padding: 10px;
    }
    .broder-top {
        border-top: 5px solid white;
    }
    .iphone-17-pro {
        background-image: url(./images/iphone_17_pro_fone.jpg);
    }
    .iphone-17 {
        background-image: url(./images/iphone_17_fone.jpg);
    }
    .large-card-headings {
        font-size: 1.8em;
    }
    .cards-cont {
        flex-direction: column;
        height: 1000px;
    }
    .cards-cont > div {
        width: 100%;
        min-height: 500px;
        gap: 20px;
        border: 5px solid white;
    }
    .card-1 > .left-card {
        background-image: url('./images/apple-for-collage-phone.jpg');
    }   
    .card-1 > .right-card {
        background-image: url('./images/macbook-air-phone.jpg');
    }
    .img-cont {
        height: 100%;
    }
    .top {
        height: 300px;
        flex-wrap: wrap;
    }
    .top > .img1 {
        width: 15%;
        border: 8px solid #F5F5F7;
    }
    .top > .img2 {
        width: 70%;
        border: 8px solid #F5F5F7;
    }
    .top > .img3 {
        width: 15%;
        border: 8px solid #F5F5F7;
    }
    .bottom {
        height: 250px;
        /* flex-wrap: wrap; */
    }
    .bottom > .img1, .bottom > .img2, .bottom > .img3 {
        width: 32%;
    }
    .bottom > .img1 {
        background-image: url("./images/bob-phone.jpg");
    }
    .bottom > .img2 {
        background-image: url("./images/fitness-phone.jpg");
    }
    .bottom > .img3 {
        background-image: url("./images/powerwash-phone.jpg");
    }
    .endless-entertainment {
        height: 100%;
    }
    .apple-terms{
        padding:16px;
    }

    .apple-terms > ol > li > p,
    .apple-terms > ol > li{
        font-size:13px;
    }
    footer {
        height: 70%;
    }
    .footer-content {
        flex-direction: column;
        gap: 0;
        padding: 0;
        padding: 20px;
        justify-content: flex-start;
    }
    .footer-content > div > ul {
    display: none;
    }
    .footer-content > div > h4 {
        padding: 5px;
        font-size: 14px;
        font-weight: lighter;
        border-bottom: 1px solid rgba(0, 0, 0, 0.16);
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 769px) and (max-width:1100px) {
    .cards-cont {
        height: 520px;
    }
    .card-1 > .left-card {
        background-image: url('./images/apple-for-collage-mid.jpg');
    }   
    .card-1 > .right-card {
        background-image: url('./images/macbook-air-mid.jpg');
    }
    .top {
        height: 50%;
    }
    .top > .img1 {
        width: 15%;
        border: 8px solid #F5F5F7;
    }
    .top > .img3 {
        width: 15%;
        border: 8px solid #F5F5F7;
    }
    .top > .img2 {
        width: 70%;
        border: 8px solid #F5F5F7;
    }
    .bottom {
        height: 30%;
    }
    .bottom > .img1, .bottom > .img2, .bottom > .img3 {
        border: 8px solid #F5F5F7;
        width: 32%;
    }
}
@media screen and (min-width: 925px) and (max-width:1100px) {
    .top {
        height: 55%;
    }
    .bottom {
        height: 35%;
     }
}
@media screen and (max-width: 625px) {
    .top {
        height: 40%;
    }
}
@media screen and (max-width: 525px) {
    .top {
        height: 400px;
    }
    .top > .img1 {
        border: 5px solid #F5F5F7;
        background-image: url('./images/basebal-phone.jpg');
        width: 20%;
    }
    .top > .img3 {
        border: 5px solid #F5F5F7;
        background-image: url('./images/f1-phone.jpg');
        width: 20%;
    }
    .top > .img2 {
        background-image: url('./images/mls-phone.jpg');
        width: 60%;
        border: 5px solid #F5F5F7;
    }
    .endless-entertainment > h1 {
        font-size: 1.5em;
    }
    .bottom > .img1 {
        border: 5px solid white;
        border-left: none;
        width: 30%;
        flex-shrink: 1;
    }
    .bottom > .img3 {
        border: 5px solid white;
        border-right: none;
        flex-shrink: 1;
        width: 30%;
    }
    .bottom > .img2 {
        width: 50%;
        border: 5px solid white;
        flex-grow: 1;
    }
}
